<div class="plan">
  <header class="plan__header">
    <h2 class="plan__heading">100k Pageviews</h2>
    <div class="slider-container">
      <input type="range" min="1" max="100" value="50" />
    </div>
    <div class="plan__price-wrapper">
      <span class="plan__price">$16.00 </span><span class="cycle">/ month</span>
    </div>
    <div class="monthly-payment">
      <span>monthly billing</span>
      <label class="switch">
        <input class="checkbox" type="checkbox" />
        <span class="toggle toggle--round"></span>
      </label>
      <span style="margin-left: 16px">Yearly Billing</span>
      <span class="badge">-25%</span>
    </div>
  </header>
  <div class="plan__body">
    <ul class="list list--tick">
      <li class="list__item">Unlimited websites</li>
      <li class="list__item">100% data ownership</li>
      <li class="list__item">Emails reports</li>
    </ul>
    <a href="" class="btn">Start my trial</a>
  </div>
</div>
